
.Container {
    width: 110rem;
    margin: 0 auto; 
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;  
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 530;
    font-size: 7.5rem;
    color: rgba(3, 3, 3, 0.6);
    transform: skewY(-5deg);
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    word-spacing: 3px;
}

@media(max-width: 650px) {
    .cards_container{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6rem;
    }
    .Container{
        width: 35rem;
    }
    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 3rem;
    }
}

