header {
    background: rgb(0, 219, 146);
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.logo, li a {
    padding: 1em 2em;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: .9em;
}
nav {
    justify-self: right;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
li a {
    padding: 1em 2em;
    display: inline-block;
    background: rgba(0,0,0,0.1);
}

@media(max-width: 650px) {
    .navi {
        text-align: center;
        height: 50px;
        width: 100%;
        position: fixed;
        overflow: hidden;
        background-color: #5aaa9d;
        font-size: 25px;
        color: #333;
    }
    
    .navi ul{
   
     text-align: center;
    }
   
}